<div class="wrapper">
  <%= render "side_bar" %>
  <%= render "main_chat" %>
  <div class ="side_bar">
   <%= render "side_bar" %>
   <div class = "b">
    </div>
  </div>
  <div class = "chat">
   <%= render "main_chat" %>

  <div class = "d">
  </div>
  </div>
</div>